input {
    position: relative;
    border-radius: 20px;
	border: solid 1px #5B6770;
    outline: none;
    padding: 13px 42px 13px 15px;
    width: 120px;
    min-width: 80px;
}

label {
    text-align: left;
    
    &.visually-hidden{
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
}

.search-box {
    position: relative;
    margin-bottom: 10px;

    @media screen and (min-width: 768px) {    
        margin-bottom: 0;
    }
}

